<template>
    <div>
        <section class="hk-sec-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div id="datable_1_filter" class="dataTables_filter"><label><input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="datable_1"></label></div>
                </div>
                <div class="col-sm">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-bordered table-lg mb-0 table-primary">
                                <thead class="thead-primary">
                                <tr>
                                    <th>Deal ID</th>
                                    <th>Deal</th>
                                    <th>Liên Lạc</th>
                                    <th>Công ty</th>
                                    <th>Tổng số tiền</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr
                                    class="text-dark"
                                    v-for="deal in arrDeal"
                                    :key="deal.DEAL_ID"
                                    @click="showDealDetail(deal.id)">
                                    <td>{{ deal.DEAL_ID }}</td>
                                    <td style="width: 30%;">{{ deal.TITLE }}</td>
                                    <td>{{ deal.USERNAME }}</td>
                                    <td>{{ deal.COMPANY_NAME }}</td>
                                    <td>{{ deal.OPPORTUNITY | formatCurrency }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLarge01" aria-hidden="true" id="modal-deal-detail">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Danh Sách Sản Phẩm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="overflow-x:auto;" class="table-wrap">
                            <table class="table table-lg table-bordered mb-0 table-primary">
                                <thead class="thead-primary">
                                <tr>
                                    <th>Thiết Bị</th>
                                    <th>Đơn Bị</th>
                                    <th>Số Lượng</th>
                                    <th>Đơn Giá Bán</th>
                                    <th>Tổng Mua</th>
                                    <th>Đơn Giá Mua</th>
                                    <th>Đơn Giá Yêu Cầu</th>
                                    <th>Tiền Chênh</th>
                                    <th>% Xử Lý Chênh</th>
                                    <th>Phí Xử Lý Chênh</th>
                                    <th>% Chiết Khấu</th>
                                    <th>Chiết Khấu</th>
                                    <th>Tiền KH Nhận</th>
                                    <th>Thành Tiền</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        class="text-dark"
                                        v-for="dealDetail in arrDealDetail"
                                        :key="dealDetail.ID_DEAL_DETAIL">
                                    <td style="min-width: 250px;" class="text-break">{{ dealDetail.PRODUCT_NAME }}</td>
                                    <td>{{ dealDetail.MEASURE_NAME }}</td>
                                    <td>{{ dealDetail.QUANTITY | formatCurrency }}</td>
                                    <td>
                                        <input
                                            type="text"
                                            class="pro-price"
                                            :value="formatCurrency(dealDetail.PRICE)"
                                            @change="addValueToFieldCustom($event, dealDetail.ID_DEAL_DETAIL, fieldCustom.PRICE)">
                                    </td>
                                    <td> {{ dealDetail.SUM_PURCHASE_PRICE_NOT_TAX | formatCurrency }} </td>
                                    <td>
                                        <input
                                            type="text"
                                            class="pro-price"
                                            :value="formatCurrency(dealDetail.PRICE_PURCHASE)"
                                            @change="addValueToFieldCustom($event, dealDetail.ID_DEAL_DETAIL, fieldCustom.PRICE_PURCHASE)">
                                    </td>
                                    <td>
                                        <input
                                            type="text"
                                            class="pro-price"
                                            :value="formatCurrency(dealDetail.PRICE_SUGGEST_CUSTOMER)"
                                            @change="addValueToFieldCustom($event, dealDetail.ID_DEAL_DETAIL, fieldCustom.PRICE_SUGGEST_CUSTOMER)">
                                    </td>
                                    <td>{{ dealDetail.PRICE_DIFFERENCE | formatCurrency }}</td>
                                    <td>
                                        <input
                                            type="text"
                                            class="pro-price"
                                            :value="dealDetail.RATE_DIFFERENCE"
                                            @change="addValueToFieldCustom($event, dealDetail.ID_DEAL_DETAIL, fieldCustom.RATE_DIFFERENCE)">
                                    </td>
                                    <td>{{ dealDetail.COST_OF_HANDLE_DIFFERENCE | formatCurrency }}</td>
                                    <td>
                                        <input
                                            type="text"
                                            class="pro-price"
                                            :value="dealDetail.DISCOUNT_PRICE_RATE"
                                            @change="addValueToFieldCustom($event, dealDetail.ID_DEAL_DETAIL, fieldCustom.DISCOUNT_PRICE_RATE)">
                                    </td>
                                    <td>
                                        {{ dealDetail.DISCOUNT_PRICE | formatCurrency }}
                                    </td>
                                    <td> {{ dealDetail.PRICE_CUSTOMER_AMOUNT | formatCurrency }}</td>
                                    <td> {{ dealDetail.SUM_PRICE_SELL_TO_CUSTOMER | formatCurrency }} </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                        <div class="d-flex justify-content-around mt-2">
                            <section class="hk-sec-wrapper">
                                <div class="card card-refresh">
                                    <div class="refresh-container">
                                        <div class="la-anim-1"></div>
                                    </div>
                                    <h6 class="card-header text-white bg-dark">
                                        Giá Mua
                                    </h6>
                                    <div class="card-body pa-0">
                                        <div class="table-wrap">
                                            <div class="table-responsive table-bordered">
                                                <table class="table mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th>Tổng cộng (chưa VAT)</th>
                                                        <th>Thuế VAT</th>
                                                        <th>Tổng cộng (gồm VAT)</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="text-dark">
                                                        <th scope="row">{{ SUM_PURCHASE_PRICE_NOT_TAX | formatCurrency }}</th>
                                                        <td>{{ SUM_PURCHASE_PRICE_INCLUDE_TAX | formatCurrency }}</td>
                                                        <td>{{ ALL_SUM_PURCHASE_PRICE_INCLUDE_TAX | formatCurrency }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="hk-sec-wrapper">
                                <div class="card card-refresh">
                                    <div class="refresh-container">
                                        <div class="la-anim-1"></div>
                                    </div>
                                    <h6 class="card-header text-white bg-dark">
                                        Giá Bán
                                    </h6>
                                    <div class="card-body pa-0">
                                        <div class="table-wrap">
                                            <div class="table-responsive table-bordered">
                                                <table class="table mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th>Tổng cộng (chưa VAT)</th>
                                                        <th>Thuế VAT</th>
                                                        <th>Tổng cộng (gồm VAT)</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="text-dark">
                                                        <th scope="row">{{ SUM_SELL_CUSTOMER_PRICE_NOT_TAX | formatCurrency }}</th>
                                                        <td>{{ SUM_SELL_CUSTOMER_PRICE_INCLUDE_TAX | formatCurrency }}</td>
                                                        <td>{{ ALL_SUM_SELL_CUSTOMER_PRICE_INCLUDE_TAX | formatCurrency }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                        <button type="button" class="btn btn-primary" @click="saveDealDetail()">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="./list-deal.js"></script>
<style scoped>
    table tr, th {
        font-size: 13px;
    }
    input.pro-price {
        width: 130px;
    }
    input.pro-rate-value {
        width: 50px;
    }
</style>
